@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
@import url('https://use.typekit.net/isz3slv.css');

*,
html {
  box-sizing: border-box;
  font-family: 'Zen Antique', serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1 {
  font-size: 4em;
  text-align: center;
  padding-top: 1.5em;
}

p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 1em 0 1em 0;
}

span {
  font-family: courier-std, monospace;
  padding: 0.2em 0.4em;
  border-radius: 6px;
  background-color: #f6f8fa;
}

#sectionOne ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sectionOne ul li {
  list-style-type: disc;
}

h2 {
  font-size: 2em;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 1.5em;
}

#sectionTwo p,
#sectionThree p {
  padding-top: 1.5em;
}

#sectionTwo ul,
#sectionThree ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 50%;
  margin: 0 auto;
}

#sectionTwo ul {
  gap: 1em;
}

#sectionThree ul {
  gap: 0.5em;
}

#sectionTwo ul li {
  width: 10em;
  height: 10em;
  border: 0.125em solid black;
}

#sectionThree ul li {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 5em;
  height: 5em;
  border: 0.125em solid black;
}

#sectionThree ul li p {
  text-align: center;
  font-size: 1.5em;
  width: 100%;
  margin: 0;
  padding: 0 0 1px 0;
}

footer {
  padding: 4em;
}

footer p {
  padding: 0;
}
